header {
  background-color: var(--primary-color);
  > div {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #block-hawest-site-branding {
      img {
        max-width: 200px;
        clip-path: circle(45% at 50% 50%);
        background: var(--white);
      }
    }
  }
}
