:root {
  --primary-color: #6cb460;
  --secondary-color: #fff443;
  --white: #ffffff;
  --black: #000000;
  --red: #d24942;
  --blue: #4c7cbd;
}

$x-large: 32px;
$large: 24px;
$default: 16px;
$small: 12px;
$x-small: 8px;
